  <% if (isHomePage) { %>
    <!-- Footer pour la page d'accueil -->
    </div>
    </main>
    </div>
    </body>
    </html>
  <% } else { %>
    <!-- Footer pour une page article -->
    <footer>
      <a class="pure-button" href="/">Retour à l'accueil</a>
    </footer>
    </article>
    </div>
    </main>
    </div>
    </body>
    </html>
  <% } %>
  