<%- include("partials/header") %>

<article class="post pure-u-1">
    <header>
      <h1>404 Not Found</h1>
      <div class="post-meta">
        Tu t'es perdu mon pote ?
      </div>
    </header>
    <figure class="post-picture">
        Non, parce que là... la route "<%= path %>"... bah elle n'existe pas !!!
      <img
        class="pure-img"
        src=""
        alt=""
      />

      <figcaption class="post-picture-caption">
       
      </figcaption>
    </figure>
    <div class="post-content">
    
    </div>
  </article>


<%- include("partials/footer",{ isHomePage: false }) %>
