<%- include('partials/header') %>

<!-- <h3>Page de recherche</h3>


<form action="/search/results" method="get" class="search-form">
    <input type="search" name="search" placeholder="Votre recherche" class="search-form--input">

    <button class="search-form--button">Rechercher</button>
</form> -->

<article class="post pure-u-1">
    <header>
      <h1>Page de recherche</h1>
      <div class="post-meta">
        
      </div>
    </header>
    

      <figcaption class="post-picture-caption">
       
      </figcaption>
    </figure>
    <div class="post-content">
    
<form action="/search/results" method="get" class="search-form">
    <input type="search" name="search" placeholder="Votre recherche" class="search-form--input">

    <button class="search-form--button">Rechercher</button>
</form>
    </div>
  </article>








<%- include('partials/footer',{ isHomePage: false }) %>
